#pixelPainter{
    height:100px;
    width:375px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:0 auto;
}
h1{
    color:red;
    margin:0 auto;
}
.cells{
    height: 15px;
    width: 15px;
    border:1px black solid;
}
.color-container{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-content:center;
    height:100px;
    width:300px;
    
}
.colorcell{
    margin: 0 auto;
    height: 30px;
    width: 30px;
    border:1px black solid;
}
.scream{
    border:1px black solid;
    height: 50px;
    width:50px;
}
.clearButton{
    border:1px black solid;
    height: 30px;
    width:30px;
}
.eraseButton{
    border:1px black solid;
    height:30px;
    width:30px;
}

.buttonContainer{
    border:1px black solid;
    height:50px;
    width:100px;
}
body{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}