#pixelPainter{
    height:200px;
    width:200px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.cels{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color:red;
}
